<html>
  <body>
    <div>
      <p style="color: black"><%= type %></p>
      <p style="color: black"><%= courseReviewId %></p>
      <p style="color: black"><%= reporterId %></p>
    </div>
  </body>
</html>
